aiofiles==0.7.0
aioftp==0.18.1
appdirs==1.4.4
black==21.5b1
click==7.1.2
fastapi==0.65.1
h11==0.12.0
h2==4.0.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.8.1
priority==1.3.0
pydantic==1.8.2
regex==2021.4.4
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
wsproto==1.0.0
